/* line 3, ../sass/footer.scss */
footer.footer {
  position: relative;
  width: 1280px;
  height: 250px;
  background: #C0C0C0;
  margin: auto;
}
/* line 10, ../sass/footer.scss */
footer.footer .useful {
  position: relative;
  padding: 16px;
  width: 1280px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 18, ../sass/footer.scss */
footer.footer .useful h2 {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
/* line 28, ../sass/footer.scss */
footer.footer .useless {
  width: inherit;
  height: 50px;
}
