@import "../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../vars.scss";


$border-e3-b: 1px solid black;
$border-e3-t: 1px solid #e3e3e3;
$border-e3 : 1px solid #e3e3e3;

.volume-bar-wrapper{
  position: relative;
  float: left;
  border-right: $border-e3-t;
  height: inherit;
  
  .volume-icon-wrapper{
    cursor: pointer;
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: red;
    margin-right: 5px;
    top: 50%;
    @include transform(translateY(-50%)); 
  
    // //icon 1
    // .glyphicon.glyphicon-pause{
    //   font-size: 22px;
    //   top: 50%;
    //   left: 50%;
    // }

    // //icon 2
    // .glyphicon.glyphicon-pause{
    //   font-size: 22px;
    //   top: 50%;
    //   left: 50%;
    //   @include transform(translate(-45%,-50%));
    // }

    //icon 3
    .glyphicon.glyphicon-pause{
      font-size: 22px;
      top: 50%;
      left: 50%;
      @include transform(translate(-45%,-50%));
    }

  }

  .volume-bar-background{
    position: relative;
    float: left;

    // width: 100px;
    // height: 4px;
    // background: #b9bab9;
    top: 50%;
    border-radius: 2px;
    // margin-left: $max-progress;
    // margin-right: $max-progress;
    @include transform(translateY(-50%)); 
    
    .volume-bar-hover{
      position: absolute;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      background: red;

      .volume-bar-on-hover{
        // padding-top: 2px;
        // padding-bottom: 2px;

        background-color: #b9bab9;
        border-radius: 10px;
        height: 4px;
      }
    }
  }
}