<!-- Player -->
<div class="player-container">

<div class="controls">
  <div class="main-controls">
    <div class="previous">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>  
    </div>
    <div class="play">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-play" aria-hidden="true" ng-hide="playing"></span>  
        <span class="glyphicon glyphicon-pause" aria-hidden="true" ng-show="playing"></span>  
      </div>
    </div>
    <div class="next">
      <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>  
    </div>
  </div>

  <div class="track_control">
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>  
    <!-- <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>   -->
    <!-- <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>   -->
  </div>

</div>

  <div class="progress-bar-wrapper">
    <div class="current-progress"><p>{{progressInTime}}s</p></div>
    
    <!-- background -->
    <div class="progress-bar-background">
      <!-- total outer boundary for hover -->
      <div class="bar-hover">

          <!-- on hover shown thick bar -->
          <div class="progress-bar-on-hover">

            <!-- load indication -->
            <div class="progress-bar-loaded">
              <div class="progress-bar-change">

                <div class="progress-bar-on">
                  <div class="pointer"></div>
                </div>

              </div>
            </div>
        </div>
      </div>
    </div>
    

    <div class="max-progress"><p>{{duration}}s</p></div>
  </div>

  <!--  -->
  <div class="volume-bar-wrapper">
    
    <div class="volume-icon-wrapper">
      <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </div>

    <div class="volume-bar-background">
      <div class="volume-bar-hover">
          <div class="volume-bar-on-hover">
              <div class="volume-bar-change">

                <div class="volume-bar-on">
                  <div class="pointer"></div>
                </div>

              </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="other-controls">
    
  </div>
</div> 

